.userInfor {
    width: 500px;
    height: auto;
    padding: 10px 20px;
    display: flex;
    border: 10px solid black;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: red;
    text-align: left;
}